<div class="container"> 
  <div class="spacer"></div>
    <div class="row">
      <div class="input-group col-md-11">
        <input  class="form-control" 
                placeholder="Type something" 
                type="text" [(ngModel)]="data.query" 
                [ngModelOptions]="{standalone: true}">
        <div class="input-group-addon" (click)="advShow = !advShow"><i class="fa fa-filter"></i></div>
        <div class="input-group-addon" (click)="search()"><i class="fa fa-search"></i></div>
      </div>
    </div>
    <hr class="my-1" *ngIf="advShow">
    <div class="adv-search" *ngIf="advShow">
      <h5>Advanced search</h5>
      <div class="row">
        <div class="col-md-4">
          <div class="jumbotron padding-20">
            <div class="input-group">
              <input class="form-control" placeholder="Published after" name="dp1" [(ngModel)]="data.after" ngbDatepicker #da="ngbDatepicker">
              <div class="input-group-addon" (click)="da.toggle()" >
                <i class="fa fa-calendar" aria-hidden="true"></i>
              </div>
            </div>
             <hr class="my-1">
            <div class="input-group">
              <input class="form-control" placeholder="Published before" name="dp2" [(ngModel)]="data.before" ngbDatepicker #db="ngbDatepicker">
              <div class="input-group-addon" (click)="db.toggle()" >
                <i class="fa fa-calendar" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="col-form-label padding-left">Order</div>
          <div class="spacer"></div>
          <div class="col-form-label padding-left">Video definition</div>
          <div class="spacer"></div>
          <div class="col-form-label padding-left">Video dimension</div>
        </div>
        <div class="col-md-2 right-border">
          <div ngbDropdown class="d-block">
            <button class="btn btn-secondary " id="dropdownMenu1" ngbDropdownToggle>{{data.order || 'Any'}}</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <button class="dropdown-item" (click)="onSelected('', 'order')">--Any--</button>
              <button class="dropdown-item" (click)="onSelected(option.value, 'order')" *ngFor="let option of options.order">{{option.label}}</button>
            </div>
          </div>
          <div class="spacer"></div>
           <div ngbDropdown class="d-block">
            <button class="btn btn-secondary " id="dropdownMenu1" ngbDropdownToggle>{{data.vDefinition || 'Any'}}</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <button class="dropdown-item" (click)="onSelected('', 'vDefinition')">--Any--</button>
              <button class="dropdown-item" (click)="onSelected(option.value, 'vDefinition')" *ngFor="let option of options.vDefinition">{{option.label}}</button>
            </div>
          </div>
          <div class="spacer"></div>
           <div ngbDropdown class="d-block">
            <button class="btn btn-secondary " id="dropdownMenu1" ngbDropdownToggle>{{data.vDimension || 'Any'}}</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <button class="dropdown-item" (click)="onSelected('', 'vDimension')">--Any--</button>
              <button class="dropdown-item" (click)="onSelected(option.value, 'vDimension')" *ngFor="let option of options.vDimension">{{option.label}}</button>
            </div>
          </div>
        </div>
         <div class="col-md-2">
          <div class="col-form-label padding-left">Video duration</div>
          <div class="spacer"></div>
          <div class="col-form-label padding-left">Related to video id</div>
          <div class="spacer"></div>
          <div class="col-form-label padding-left">Safe search</div>
        </div>
        <div class="col-md-2">
          <div ngbDropdown class="d-block">
            <button class="btn btn-secondary " id="dropdownMenu1" ngbDropdownToggle>{{data.vDuration || 'Any'}}</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <button class="dropdown-item" (click)="onSelected('', 'vDuration')">--Any--</button>
              <button class="dropdown-item" (click)="onSelected(option.value, 'vDuration')" *ngFor="let option of options.vDuration">{{option.label}}</button>
            </div>
          </div>
          <div class="spacer"></div>
          <input  class="form-control" 
                  placeholder="Any" 
                  type="text" 
                  [(ngModel)]="data.relatedVideoId" 
                  [ngModelOptions]="{standalone: true}">
          <div class="spacer"></div>
          <div ngbDropdown class="d-block">
            <button class="btn btn-secondary " id="dropdownMenu1" ngbDropdownToggle>{{data.safeSearch || 'Any'}}</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <button class="dropdown-item" (click)="onSelected('', 'safeSearch')">--Any--</button>
              <button class="dropdown-item" (click)="onSelected(option.value, 'safeSearch')" *ngFor="let option of options.safeSearch">{{option.label}}</button>
            </div>
          </div>
        </div>
      </div>
    </div> 
    <!--videoSyndicated = true-->
    <!--location & locationRadius component 'TODO' -->
    <!--videoEmbeddable = true-->
  
  <table class="table table-striped" *ngIf="results">
    <thead>
      <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Video</th>
          <th>
            <input type="checkbox" id="addAll" />
            <label for="addAll">Select all</label>
          </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of results">
        <td>{{item.snippet.title}}</td>
        <td>{{item.snippet.description}}</td>
        <td>
          <app-hover-player [src]="item.snippet.thumbnails.default.url" [video_id]="item.id.videoId"></app-hover-player>
        </td>
        <td>
            <input type="checkbox" [id]="item.id.videoId" (change)="checked($event, item)"/>
            <label [attr.for]="item.id.videoId"></label>
        </td>
      </tr>
    </tbody>
  </table>
</div>